name: build

on:
  push:
    branches:
      - "*"
  workflow_call:
  pull_request:


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: '1.25.1'
      - uses: golangci/golangci-lint-action@v9
        with:
          version: 'latest'
          args: --timeout 5m
      - run: scripts/test.sh
      - run: scripts/build.sh
      - uses: goreleaser/goreleaser-action@v6
        with:
          version: latest
          args: build --snapshot --clean
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
